{% extends "base.html" %}
{% block content %}
    <div id="navbarMenuHeroA" class="navbar-menu">
        <div class="navbar-end">
            {% if current_user.is_authenticated %}
                <a href="{{ url_for('main.profile') }}" class="navbar-item">
                    Профиль
                </a>
            {% endif %}
            {% if not current_user.is_authenticated %}
                <a href="{{ url_for('auth.login') }}" class="navbar-item">
                    Войти
                </a>
                <a href="{{ url_for('auth.signup') }}" class="navbar-item">
                    Создать аккаунт
                </a>
            {% endif %}
            {% if current_user.is_authenticated %}
                <a href="{{ url_for('auth.logout') }}" class="navbar-item">
                    Выйти
                </a>
            {% endif %}
        </div>
        </div>
{% endblock %}