{% extends "base.html" %}

    {% block header %}
        <h1>Ваши параметры</h1>
                <a href="{{ url_for('parameters.parameters_create') }}">Внести новые данные</a>

    {% endblock %}
{% block content %}

  <table id="data" class="table">
    <thead>
      <tr>
        <th>Возраст</th>
        <th>Пол</th>
        <th>Вес</th>
        <th>Рост</th>
      </tr>
    </thead>
    <tbody>
      {% for param in params %}
        <tr>
          <td>{{ param.age }}</td>
          <td>{{ param.gender }}</td>
          <td>{{ param.weight }}</td>
          <td>{{ param.height }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}
